.base-text {
  font-family:'Roboto';
  font-weight: 300;
}
body, div {
  font-size:1rem;
}

h1,
h2,
h3,
h4,
h5 {
  @extend .base-text;
  line-height: 3rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: unset;

}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

h5 {
  @extend .base-text;
  font-size: 1rem;
}

.text-subtitle1 {
  @extend .base-text;
}

.text-white {
  color: white;
}

.q-tab__label {
}

.q-item__label {
}

.text-centered {
  text-align: center;
  padding-bottom: 2rem;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  padding: unset;
  white-space: pre-line;
}

.multiline-string{
  white-space: pre-line
}

.q-drawer-container div{
  font-size:0.9rem;
}