@import './sharedColors.scss';


.body-theme-one .q-virtual-scroll__content{
  background-color: $primary;
}

.body-theme-one .q-expansion-item--expanded{
  background-color: $background;
}

.body-theme-one .q-expansion-item .q-item{
  display: flex; 
  align-items: center;
}
.body-theme-one .q-expansion-item button{
  display: flex; 
  align-items: center;
  // padding: unset; 
  // margin: unset !important;
}


.body-theme-one .q-expansion-item__container{
  border: 1px solid transparent !important;
}