@import './sharedColors.scss';

.q-expansion-item--expanded{
  // padding-bottom: 2rem;
  // margin-bottom: 2rem;
  // padding: 2rem 0;
  // border: unset !important;
  
  // border-bottom: 1px solid $gold-high2;
}

.q-virtual-scroll__content{
  background-color: $primary;
}

.q-expansion-item--expanded{
  background-color: $background;
}

.q-expansion-item .q-item{
  display: flex; 
  align-items: center;
}
.q-expansion-item button{
  display: flex; 
  align-items: center;
  // padding: unset; 
  // margin: unset !important;
}


.q-expansion-item__container{
  border: 1px solid transparent !important;
}