html, body {
  overflow: auto; /* Apply to root elements */
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Adjust for vertical scrollbars */
  height: 12px; /* Adjust for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Thumb color */
  border-radius: 6px;
  border: 3px solid var(--pristine-white); /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-logo-2); /* Hover state */
}

::-webkit-scrollbar-track {
  background-color: var(--blue-ia-2); /* Track background */
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background-color: var(--blue-ia-3); /* Track hover state */
}

/* Vertical Scrollbars Specific */
html {
  overflow: auto; /* Ensure vertical scrollbars are always visible */
}

* {
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: var(--primary-color) var(--blue-ia-2); /* Thumb and track for Firefox */
}