@import '../../common/sharedColors.scss';

// Main quasar variables 


// $primary: $blue-ia-1; 
$primary: $blue-logo-1; 
$secondary: $blue-ia-3;
$background: white;
$accent: $gold-level-5;
$page : $blue-ia-4;


$section-odd-background: $pristine-white;
$section-even-background: $deep-blue-light;