@import '../../common/sharedColors.scss';



// Main quasar variables 
$q-dark: #1D1D1D;
// $q-dark: $blue-ia-1;

// $primary: $blue-ia-1; 
$primary: $blue-logo-1; 
$secondary: $blue-ia-6;
$background: $blue-ia-2;
$background-2: $blue-ia-3;
$accent: $gold-level-5;
$page : $blue-ia-4;

$text-primary: $pristine-white;

$section-odd-background: $blue-ia-4;
$section-even-background: $blue-ia-1;